div {
  :is(a) {
    color: $spotlightColor;
    text-decoration: none;
  }

  h2 {
    padding-top: 100px;
    font-size: 40px;
    color: $fontColor;
    font-family: "Montserrat", "Raleway Light", Arial;
    @media only screen and (max-width: 992px) {
      font-size: 30px;
      padding-top: 0;
    }
    @media only screen and (max-width: 575px) {
      font-size: 28px;
      padding-top: 0;
    }
  }
  .div__itens {
    display: flex;
    justify-content: space-between;
    font-family: "Raleway Light", "Montserrat", Arial;
    color: $fontColor;
    font-size: 28px;
    @media only screen and (max-width: 992px) {
      flex-direction: column;
      font-size: 18px;
    }
    @media only screen and (max-width: 575px) {
      flex-direction: column;
      font-size: 16px;
    }

    i {
      color: $subColor !important;
      font-size: 30px;
    }
  }
}
