div {
  h2 {
    color: $fontColor;
    text-align: center;
  }
  .div__main {
  }
}

body {
  color: $fontColor2;
  text-align: justify;
}

.accordion-button:not(.collapsed) {
  background-color: $subColor;
  color: $fontColor;
}

.accordion-button {
  background-color: $fontColor;
  color: $bgtitleColor;
  padding: 1px;
  font-size: 20px;
  height: 50px;
  padding-left: 15px;
}

.accordion-button:after {
  display: none;
  background-image: none;
}

.icon__arrow {
  position: absolute;
  right: 5%;
  font-size: 24px;
}

.span__text {
  color: $fontColor2;
}
