div {
  h2 {
    font-size: 40px;
    color: $fontColor;
    text-align: center;
    margin-top: 40px;
  }
  .div__text {
    font-size: 18px;
    color: $fontColor;
    margin-top: 10px;
  }

  .div__main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    @media only screen and (max-width: 992px) {
      justify-content: center;
    }
    .div__item {
      width: 400px;
      height: 600px;
      background-color: white;
      margin-left: 20px;
      margin-top: 20px;
      position: relative;
      padding-bottom: 60px;
      @media only screen and (max-width: 992px) {
        margin-left: 0;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .div__hover {
        background-color: red;
        z-index: 1;
        width: 400px;
        height: 600px;
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
        padding: 0 20px;
        text-align: center;
        p,
        span {
          font-size: 18px;
          color: $fontColor;
          a {
            text-decoration: none;
            color: $fontColor;
          }
        }
      }
      .div__hover:hover {
        opacity: 0.8;
        width: 100%;
      }
      .div__legenda {
        height: 10%;
        width: 100%;
        background-color: grey;
        text-align: center;
        position: absolute;
        opacity: 0.8;
        span {
          color: $fontColor;
          font-size: 14px;
        }
      }
    }
  }
}
